.portal-wrapper {
  display: flex;
  width:100vw;
  flex-direction:row;
}
.portal-wrapper > :nth-child(1) {
  flex-basis:0;
  flex-grow: 1;
}
.portal-wrapper > :nth-child(2) {
  flex-basis:0;
  flex-grow: 8;
}



.portal-content {
  background-color: var(--background-light);
}
