<!-- Logo on top -->
<div class="logo-container">
  <a href="portal/welcome"><img src="assets/images/kaar-logo.png" alt="Kaar Logo" class="logo" /></a>
</div>

<!-- Icons for portals -->
<div class="sidebar-icon" (click)="navigateTo('customer')" title="Customer Portal">
  <i class="fas fa-user"></i>
</div>
<div class="sidebar-icon" (click)="navigateTo('vendor')" title="Vendor Portal">
  <i class="fas fa-store"></i>
</div>
<div class="sidebar-icon" (click)="navigateTo('employee')" title="Employee Portal">
  <i class="fas fa-briefcase"></i>
</div>
