<div class="sidebar" [ngClass]="{ 'welcome-page': isWelcomePage }">
  <div class="logo-container">
  <a href="portal/welcome">
    <img src="assets/images/kaar-logo.png" alt="Kaar Logo" class="logo" />
  </a>
</div>

<div class="sidebar-icon" [ngClass]="{ active: currentPortal === 'customer' }"
     (click)="navigateTo('customer')" title="Customer Portal">
  <div class="icon-wrapper">
    <i class="fas fa-user"></i>
    <span>Customer</span>
  </div>
</div>

<div class="sidebar-icon" [ngClass]="{ active: currentPortal === 'vendor' }"
     (click)="navigateTo('vendor')" title="Vendor Portal">
  <div class="icon-wrapper">
    <i class="fas fa-store"></i>
    <span>Vendor</span>
  </div>
</div>

<div class="sidebar-icon" [ngClass]="{ active: currentPortal === 'employee' }"
     (click)="navigateTo('employee')" title="Employee Portal">
  <div class="icon-wrapper">
    <i class="fas fa-briefcase"></i>
    <span>Employee</span>
  </div>
</div>
</div>
