<ng-container *ngIf="isCustomerLoggedIn; else showLogin">
  <div class="portal-wrapper">
    <app-top-nav [profileUrl]="profileUrl" [tileData]="tileData" [portal]="'customer'"></app-top-nav>
    <div class="portal-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #showLogin>
  <app-login
    [actor]="'customer'"
    [heading]="'Customer Login'"
    [placeholder]="'Customer ID'"
    (loginSuccess)="handleLoginSuccess()">
  </app-login>
</ng-template>
