:host {
  display: block;
  width: 100%;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--dark-color); 
  color: white;
  height: 60px;
  font-family: Arial, sans-serif;
}

.tiles {
  display: flex;
  height: 100%;
}

.tile {
  display: grid;
  place-items: center;
  cursor: pointer;
  height: 100%;
  padding: 0 40px;
  font-weight: 500;
  font-size:1rem;
  transition: background-color 0.3s ease;
}

.tile.active {
  background-color: var(--accent-color);
  /* color: var(--dark-color); */
  font-weight:700;
}

.profile-section {
  position: relative;
}

.profile-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon svg {
  margin: 0 20px;
  width: 2rem;
  height: 2rem;
  fill: white;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  margin: 0 20px;
  background-color: #ffffff;
  color: #333;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 10;
  min-width: 160px;
}

.dropdown div {
  padding: 12px 16px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
}

.dropdown div:last-child {
  border-bottom: none;
}

.dropdown div:hover {
  background-color: var(--background-hover-white);
}
